<nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
        <li *ngFor="let categoria of categorias">
            <a routerLink="/categorias/{{categoria.id}}" routerLinkActive="active-link ">{{categoria.nombreCategoria}}</a>
        </li>

    </ul>
</nav>