<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" *ngFor="let producto of productos">
                    <div class="product-box">
                        <a routerLink="/productos/{{producto.id}}" routerLinkActive="router-link-active">
                            <img src="{{producto.imagenUrl}}" class="img-responsive">
                        </a>
                        <a routerLink="/productos/{{producto.id}}" routerLinkActive="router-link-active">
                            <h1>{{producto.nombre}}</h1>
                        </a>

                        <div class="price">{{producto.precioUnitario |currency: "USD"}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div *ngIf="productos?.length == 0" class="alert alert-warning col-md-12 text-center  " role="alert">
                    <h1><strong>No se encontraron coincidencias</strong></h1>
                </div>
            </div>
        </div>
    </div>
</div>