<div class="detail-section">
    <div class="container-fluid">
        <img src="{{producto.imagenUrl}}" class="detail-img">
        <h3>{{producto.nombre}}</h3>
        <div class="price">{{producto.precioUnitario | currency:'USD'}}</div>
        <a href="#" class="primary-btn">Add to cart</a>
        <hr>
        <h4>Descripcion</h4>
        <p>{{producto.descripcion}}</p>
        <a routerLink="/productos" class="mt-2" routerLinkActive="router-link-active">regresar
        </a>
    </div>
</div>