<form class="form-header">
    <input #myInput (keyup.enter)="busqueda(myInput.value)" class="au-input au-input-xl " type="text " placeholder="Search for data ... " />
    <button (click)="busqueda(myInput.value)" class="au-btn-submit">Search</button>
</form>